<a href="https://colab.research.google.com/github/tarnuN/PROJECT-01/blob/main/project_03(Predicting_Bank_Customer_churn_ipynb).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import  pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("/content/Customer-Churn-Records.csv")

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

In [ ]:
df.shape

(10000, 18)

In [ ]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1,1,5,DIAMOND,484
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0,0,2,SILVER,206
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1,1,2,DIAMOND,282
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0,0,3,GOLD,251
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0,0,3,GOLD,342

In [ ]:
df.drop('CustomerId', axis=1, inplace=True)

In [ ]:
df

,RowNumber,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

In [ ]:
df['Gender']=df['Gender'].map({'Male':'1','Female':'0'})

In [ ]:
df['Geography']=df['Geography'].map({'France':'0','Spain':'1','Germany':'2'})

In [ ]:
df['Card Type']=df['Card Type'].map({'DIAMOND':'0','GOLD':'1','PLATINUM':'2','SILVER':'3'})

In [ ]:
df

,RowNumber,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1,1,2,0,464
1,2,Hill,608,1,0,41,1,83807.86,1,0,1,112542.58,0,1,3,0,456
2,3,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1,1,3,0,377
3,4,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0,0,5,1,350
4,5,Mitchell,850,1,0,43,2,125510.82,1,1,1,79084.10,0,0,5,1,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Obijiaku,771,0,1,39,5,0.00,2,1,0,96270.64,0,0,1,0,300
9996,9997,Johnstone,516,0,1,35,10,57369.61,1,1,1,101699.77,0,0,5,2,771
9997,9998,Liu,709,0,0,36,7,0.00,1,0,1,42085.58,1,1,3,3,564
9998,9999,Sabbatini,772,2,1,42,3,75075.31,2,1,0,92888.52,1,1,2,1,339
9999,10000,Walker,792,0,0,28,4,130142.79,1,1,0,38190.78,0,0,3,0,911

In [ ]:
df.isna().sum()

RowNumber             0
Surname               0
CreditScore           0
Geography             0
Gender                0
Age                   0
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Exited                0
Complain              0
Satisfaction Score    0
Card Type             0
Point Earned          0
dtype: int64

In [ ]:
df.drop('Surname',axis=1,inplace=True)

In [ ]:
x=df.drop('Point Earned',axis=1)
y=df['Point Earned']

In [ ]:
x

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type
0,1,619,0,0,42,2,0.00,1,1,1,101348.88,1,1,2,0
1,2,608,1,0,41,1,83807.86,1,0,1,112542.58,0,1,3,0
2,3,502,0,0,42,8,159660.80,3,1,0,113931.57,1,1,3,0
3,4,699,0,0,39,1,0.00,2,0,0,93826.63,0,0,5,1
4,5,850,1,0,43,2,125510.82,1,1,1,79084.10,0,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,0,1,39,5,0.00,2,1,0,96270.64,0,0,1,0
9996,9997,516,0,1,35,10,57369.61,1,1,1,101699.77,0,0,5,2
9997,9998,709,0,0,36,7,0.00,1,0,1,42085.58,1,1,3,3
9998,9999,772,2,1,42,3,75075.31,2,1,0,92888.52,1,1,2,1
9999,10000,792,0,0,28,4,130142.79,1,1,0,38190.78,0,0,3,0

In [ ]:
y

0       464
1       456
2       377
3       350
4       425
       ...
9995    300
9996    771
9997    564
9998    339
9999    911
Name: Point Earned, Length: 10000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
models={
    'lg':LogisticRegression(),
    'dtc':DecisionTreeClassifier(),
    'rfc':RandomForestClassifier()

}
for name,mod in models.items():
  mod.fit(x_train,y_train)
  y_pred=mod.predict(x_test)
  print(accuracy_score(y_test,y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.0013333333333333333
0.0016666666666666668
0.0013333333333333333

In [ ]:
x_train

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type
9069,9070,619,1,0,32,4,175406.13,2,1,1,172792.43,1,1,1,0
2603,2604,643,2,0,34,7,160426.07,1,0,1,188533.11,0,0,3,1
7738,7739,561,0,1,33,6,0.00,2,0,0,173680.39,0,0,3,0
1579,1580,618,2,1,41,8,37702.79,1,1,1,195775.48,0,0,5,1
5058,5059,714,0,1,37,9,148466.93,2,0,1,151280.96,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,5735,768,0,1,54,8,69712.74,1,1,1,69381.05,0,0,3,3
5191,5192,682,0,0,58,1,0.00,1,1,1,706.50,0,0,4,2
5390,5391,735,0,0,38,1,0.00,3,0,0,92220.12,1,1,5,3
860,861,667,0,1,43,8,190227.46,1,1,0,97508.04,1,1,3,0
7270,7271,697,2,1,51,1,147910.30,1,1,1,53581.14,0,0,4,0

In [ ]:
y_train

9069    707
2603    806
7738    220
1579    615
5058    936
       ...
5734    569
5191    709
5390    678
860     680
7270    639
Name: Point Earned, Length: 7000, dtype: int64

In [ ]:
x_test

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type
6252,6253,596,2,1,32,3,96709.07,2,0,0,41788.37,0,0,1,1
4684,4685,623,0,1,43,1,0.00,2,1,1,146379.30,0,0,2,3
1731,1732,601,1,0,44,4,0.00,2,1,0,58561.31,0,0,1,1
4742,4743,506,2,1,59,8,119152.10,2,1,1,170679.74,0,0,2,3
4521,4522,560,1,0,27,7,124995.98,1,1,1,114669.79,0,0,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8014,8015,731,1,0,39,2,126816.18,1,1,1,74850.93,0,0,1,3
1074,1075,535,0,0,31,7,111855.04,2,1,1,36278.89,0,0,1,0
3063,3064,609,0,1,32,7,71872.19,1,1,1,151924.90,0,0,2,3
6487,6488,580,0,1,31,2,0.00,2,0,1,64014.24,0,0,1,2
4705,4706,533,2,0,22,10,115743.60,1,0,0,43852.05,0,0,3,1

In [ ]:
y_test

6252    709
4684    508
1731    281
4742    979
4521    457
       ...
8014    403
1074    467
3063    484
6487    316
4705    706
Name: Point Earned, Length: 3000, dtype: int64

In [ ]:
y_pred=model.predict(x_test)
print(y_pred)

[605 534 534 ... 668 524 513]

In [ ]:
accuracy_score(y_test,y_pred)

0.0013333333333333333